body {
    margin: 0;
    background: #000000;
    font-family: system-ui;
    display: grid;
    place-content: center;
    min-height: 100vh;
  }
  
  .App {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .Card {
    background: #16181c;
    width: 500px;
    height: 350px;
    border-radius: 10px;

    display: grid;
    place-content: center;
  }